body{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#drawMap {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
}


#switcher {
    margin: auto;
    width: 50%;
    height: 30px;
    text-align: center;
}

.button {
    width: 80px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    font-size: 15pt;
    margin-left: 10px;
    cursor: pointer;
}

.selected {}

table {
    width: 70%;
    margin: auto;
}

th {
    padding: 15px;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
}
