body {
    background-color: black;
    color: green;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.logArea {
    position: relative;
    width: 100%;
}

#pageTitle {
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.change {
    width: 800px;
    margin: auto;
}

.change .title{

}
.change .date{

}
.change .version{

}
.change .description{
    word-wrap: break-word;
}
