#logArea {
    position: relative;
    width: 100%;
}

.change {
    width: 800px;
    margin: auto;
}

.change .title{

}
.change .date{
    margin-left: 10px;
}
.change .version{
    margin-left: 10px;
}
.change .description{
    margin-left: 10px;
    word-wrap: break-word;
}
