body {
    /*background-color: black;*/
}

.gameScreen {
    width: 75%;
    margin: 0 auto;
    z-index: 10;
}

#timer {
    position: absolute;
    top: 0px;
    /*background-color: black;*/
}

#sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    /*background-color: #333333;*/
}

#monitor {
    position: relative;
    margin: auto;
    top: 60px;
    /*background-color: black;*/
}

.block_page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .3);

}

.modal {
    display: none;
    z-index: 101;
    background-color: white;
    width: 5%;
    height: 5%;
    margin-top: -28%;
    margin-left: 32%;
}
