body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.sidebar {
    position: fixed;
    float: left;
    width: 180px;
    height: 780px;
}

.contentBox {
    position: relative;
    float: left;
    width: 80%;
    margin-left: 200px;
    margin-bottom: 100px;
}

.title {
    font-size: 30pt;
    margin-top: 25px;

}
.subtitle {
    font-size: 22pt;
    margin-bottom: 10px;
    margin-left: -20px;
}
.label {
    font-size: 18pt;
    margin-bottom: 10px;
}
.content {
    font-size: 18pt;
    width: 90%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    /*border: 1px solid green;*/
    text-align: center;
    padding: 8px;
}

img {
    width: 100%;
}

#shop {
    width: 10%;
}

#specialShop {
    width: 10%;
}

.reduceImage {
    width: 50%;
}

.contentLinkMain {
    font-size: 14pt;
    margin-left: 5px;
}

.contentLinkSub {
    font-size: 12pt;
    margin-left: 15px;
}

.contentLinkLab {
    font-size: 12pt;
    margin-left: 25px;
}
